---
import Layout from '../layouts/Layout.astro'
import Sponsor from '../components/Sponsor.astro'
---

<Layout title="Our Sponsors" subtitle="Sponsors">
  <main>
    <section class="players-section players-page-section">
      <div class="auto-container">
        <div class="row clearfix">
          <Sponsor
            name="Luxhosting Networks SARL"
            logoPath="https://luxhosting.com/assets/brand/luxhosting-logo-colour.svg"
            url="https://luxhosting.com/"
            twitter="LuxhostingCom"
          >
            Europe's fastest web hosting service with premium security, daily
            backups, and the best support staff!
          </Sponsor>
        </div>
      </div>
    </section>
  </main>
</Layout>
