---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props
const dateOptions: object = {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
}

const formattedPublishDate = new Date(frontmatter.date).toLocaleDateString(
  navigator.languages[0],
  dateOptions
)
---

<Layout
  title={frontmatter.title}
  subtitle="News"
  extra={`By ${frontmatter.author} - ${formattedPublishDate}`}
  tags={frontmatter.tags}
>
  <div class="content-container">
    <article class="main-content">
      <br />
      <main>
        <slot />
      </main>
    </article>
  </div>
</Layout>

<style>
  .content-container {
    padding: 3vh 10vw;
    color: white;
    gap: 20px; /* Spacing between main content and sidebar */
    text-align: justify;
  }

  p {
    color: white;
  }

  .main-content {
    flex: 2; /* Takes up 2/3 of the container */
    color: white;
  }
</style>
